DATABASE_URL="postgresql://postgres:postgres@localhost:5432/algohaven"
BE_PORT="3001"
BE_URL="http://localhost:{BE_PORT}"
APP_URL="http://localhost:3000"
SESSION_COOKIE_NAME="algohaven_session" #Name of the cookie to store the session token
MAGIC_LINK_TTL_MS="900000"  #expire the token in 900,000 ms or (15 minutes)
SESSION_TTL_MS="604800000"  #expire the session in 604,800,000 ms or (7 days)

# Code execution worker
WORKER_SECRET="dev-secret-change-in-prod"
WORKER_URL="http://localhost:3002"
BACKEND_URL="http://localhost:3001"


SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER="your_smtp_username"
SMTP_PASS="your_smtp_password"